<html lang="en">
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
    </head>
    <body>
     
      
    <h3><center>Supervisor Dashboard : Add new Meal Code</h3>
    <form action="/logout" method="post">
      <div class='buton' style="width: 300px;height:20px;background-color:yellow;margin-top:7px;">
        <input style="background-color:black;width: 90px;height: 35px; margin-bottom: 10px;font-size: 16px;color:yellow" formaction="/logout" type="submit"  value="Logout" >
        <br>
        <input style="background-color:black;width: 90px;height: 35px; margin-bottom: 10px;font-size: 16px;color:yellow" formaction="/backSupervisor" type="submit"  value="Home" >
        
      </div>
  </form >
   
     <div class="container">
     
        <form id ="contact" action="/addDailyMealCode" method="post">
         <h3 style="font-size: 40px;margin-bottom:10px ;">Add MealCode Detail </h3>   
         <div style="max-width: 450px; background-color: green; font-size: 18px; text-align:  center;">
          <strong ></strong><label style="font-size: 16px;"><%= Error %></label>
          <strong ><a style="color:red" href="/addMealCodeNotify"><%=Link%></a></strong>
        </div>    
                 <h3>Enter Details</h3>
<div>
                  <label for="mealCode">meal Code</label>
                  <input type="number" id="mealCode" name="mealCode" placeholder="Enter code" required/>
            </div>
			<div>
                  <label for="mealName">meal Name</label>
                  <input type="text" id="mealName" name="mealName" placeholder="Enter Name" required/>
            </div>
			<div>
                  <label for="mealWeightPerServing">Weight Per Serving</label>
                  <input type="number" id="mealWeightPerServing" name="mealWeightPerServing" placeholder="mealWeightPerServing" required/>
            </div>
                  <div class='buton'>
                  <input style="background-color: blue; font-size: 16px; border-color: blue;" type="submit"  value="AddMealCode" >
                  </div>
      
        </form>
         
         
    </div>
    </body>
    
    </html>