<html lang="en">
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
       
    </head>
    <body>
     
      
    <h3><center>Supervisor Dashboard : Assign Meals</center></h3>
    <form action="/logout" method="post">
      <div class='buton' style="width: 300px;height:20px;margin-top:0px;">
        <input style="border-color:rgb(89,198,247);background-color:rgb(89,198,247);width: 90px;height: 35px; margin-top: 620px;margin-left:575px; font-size: 16px;color:white" formaction="/logout" type="submit"  value="Logout" >
      </div>
      <div class='buton' style="width: 300px;height:20px;margin-top:0px;">
        <input style="border-color:rgb(89,198,247);background-color:rgb(89,198,247);width: 90px;height: 35px; margin-top: 600px;margin-left:775px;font-size: 16px;color:white" formaction="/backSupervisor" type="submit"  value="Home" >
      </div>
  </form >
   
     <div class="container">
     
        <form id ="contact" action="/addAssignedMeals" method="post">
         <h3 style="font-size: 40px;margin-bottom:10px ;">Assign Daily Meals</h3>   
         <div style="max-width: 450px; background-color: rgb(89,198,247); font-size: 18px; text-align:  center;">
          <strong></strong><%= Error %>
          <strong ><a style="color:rgb(89,198,247)" href="/assignMealsNotify"><%=Link%></a></strong>
        </div>    
   <h3>Enter Details</h3>
	<div>
                  <label for="catererID">Caterer ID</label>
                  <input type="number" id="catererID" name="catererID" required/>
            </div>
			<div>
                  <label for="schoolID">School ID</label>
                  <input type="number" id="schoolID" name="schoolID" required/>
            </div>
			<div>
                  <label for="transporterID">Transporter ID</label>
                  <input type="number" id="transporterID" name="transporterID" required/>
            </div>
			<div>
                  <label for="mealCode">Meal Code</label>
                  <input type="number" id="mealCode" name="mealCode" required/>
            </div>
			<div>
                  <label for="studentCount">Student Count</label>
                  <input type="number" id="studentCount" name="studentCount" required/>
            </div>
			
                  <div class='buton'>
                  <input style="color:white;background-color: rgb(89,198,247); font-size: 16px; border-color: rgb(89,198,247);" type="submit"  value="AddDailyMeal" >
                  </div>
      
        </form>
         
         
    </div>
    </body>
    
    </html>