<html lang="en">
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        
<body>
    <h3><center>Secure and Transparent Mid Day Meals using Blockchain and IoT</center></h3>
    <form action="/logout" method="post">
		<div class='buton' style="width: 500px;height:50px;background-color:black;margin-top:17px;">
        
			<input style="background-color:black;width:128px;height: 35px; margin-bottom: 10px;font-size: 16px;color:white" formaction="/logout" type="submit"  value="Login" >
		</div>
	</form >
    <div class="container">
		<form id ="contact" action="/changePasswordStudent" method="post">
			<h3>Beneficiary Change Password Portal</h3>
			<div style="max-width: 450px; background-color: green; font-size: 18px; text-align:  center;">
			<strong></strong><%= Error %>
			</div> 
			<div class="form-group">
			<label for="Loginid">Login ID</label>
			<input type="String" id="Loginid" name="Loginid" class="form-control" placeholder="Enter user ID here"/>
			</div>
			<div class="form-group">
			<label for="Schoolid">School ID</label>
			<input type="String" id="Schoolid" name="Schoolid" class="form-control" placeholder="Enter school ID here"/>
			</div>
			<div class="form-group">
			<label for="Password">Password</label>
			<input type="Password" id="Password" name="Password" class="form-control" placeholder="Enter password here" />
			</div>
			<div class="form-group">
			<label for="NewPassword">New Password</label>
			<input type="Password" id="NewPassword" name="NewPassword" class="form-control" placeholder="Enter new password here" />
			</div>
			<div class='buton'>
			<input style="background-color: blue; font-size: 16px; border-color: blue;" type="submit"  value="Update Password" >
			</div>
			</form>
			<center>
			</div>
			</div>
</body> 
</head>
</html 