<html lang="en">
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--<title>Degree Contract</title>
      <div class="p"><table class="t"><tr> <td> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxNcJxd_5V5Gtt5k374pP2dJPdVVkl5TRO19cJtQzGwtvoMQQa7Q" width="80px"height="85px"></td> <td><h1>Welcome to Smart Degree Application using Smart Contract and BlockChain </td></tr></table></h1>
        
    </div>-->
         
    
    
    </head>
    <body>
     
      
    <h3 >Dashboard</h3>
    
     <div class="container">
     
        <form id ="contact" action="/addUser" method="post">
         <h3>Register</h3>   
                

             <div>
                  <label for="FullName">Full Name</label>
              
                  <input
                    type="text"
                    id="FullName"
                    name="FullName"
                      placeholder="Enter Naame"
                      required
                  />
              
                </div>
                <div>
                  <label for="Mail">Email</label>
                  <input
                    type="text"
                    id="Mail"
                    name="Mail"
                    placeholder="Enter Email"
                    required
                  />
                </div>
                <div >
                    <label for="Loginid">Loginid</label>
                    <input
                      type="text"
                      id="Loginid"
                      name="Loginid"
                      placeholder="Loginid"
                      required
                    />
                  </div>
                <div >
                    <label for="Mobile">Mobile No</label>
                    <input
                      type="Number"
                      id="Mobile"
                      name="Mobile"
                      placeholder="Enter Mobile no"
                      required
                    />
                  </div>
                  <div class="radio-inline">
         
                    <label  for="Government"> 
                      <input Style="width:4%" type="radio" id="Government" name="Role" value="Government">
                      Government</label>
                    <label style="margin-right:5%;"for="School">
                      <input Style="width:8%;"type="radio" id="School" name="Role" value="School">
                      School</label>
                    <label style="margin-left:0% ;"for="Caterer">
                      <input Style="width:4%" type="radio" id="Caterer" name="Role" value="Caterer">
                      Caterer</label>
                  </div>
                  <div >
                    <label for="State">State</label>
                    <input
                      type="text"
                      id="State"
                      name="State"
                      placeholder="Enter State"
                      required
                    />
                  </div>
                  <div >
                    <label for="supervisedid">Supervisedid</label>
                    <input
                      type="number"
                      id="Supervisedid"
                      name="Supervisedid"
                      placeholder="Enter Supervisedid"
                      required
                    />
                  </div>

                  <div >
                    <label for="Password">Password</label>
                    <input
                      type="password"
                      id="Password"
                      name="Password"
                      placeholder="Enter password"
                      required
                    />
                  </div>
                  <div class='buton'>
                  <input style="background-color: blue; font-size: 16px; border-color: blue;" type="submit"  value="Register" >
                  </div>
          <p >
             Account! <a href="/">Login</a>
          </p>
        </form>
         
         
    </div>
    </body>
    
    </html>