<html lang="en">
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        
<body>
    <h3><center>Secure and Transparent Mid Day Meals using Blockchain and IoT</center></h3>
    <form action="/logout" method="post">
		<div class='buton' style="width: 300px;height:20px;margin-top:5px;">
			<input style="background-color:rgb(89,198,247);width:45x;height: 35px; margin-top:550px;margin-left: 650px;font-size: 16px;color:white;border-color:rgb(89,198,247)" formaction="/submitFeedback" type="submit"  value="Submit Feedback" >
		</div>
	</form >
    <div class="container">
		<form id ="contact" action="/login" method="post">
			<h3>Login Portal</h3>
			<div style="max-width: 450px; background-color: rgb(89,198,247); font-size: 18px; text-align:  center;">
			<strong></strong><%= Error %>
			</div> 
			<div class="form-group">
			<label for="Loginid">Login ID</label>
			<input type="String" id="Loginid" name="Loginid" class="form-control"/>
			</div>
			<div class="form-group">
			<label for="Password">Password</label>
			<input type="Password" id="Password" name="Password" class="form-control"/>
			</div>  
			<p><center>Please select your role</center></p>
			<div class="radio-inline">
			<label  for="Supervisor"> 
            <input Style="width:4%" type="radio" id="Supervisor" name="Role" value="Supervisor">
            Supervisor</label>
			<label style="margin-right:5%;"for="School">
            <input Style="width:8%;"type="radio" id="School" name="Role" value="School">
            School</label>
			<label style="margin-left:0% ;"for="Transporter">
            <input Style="width:4%" type="radio" id="Transporter" name="Role" value="Transporter">
            Transporter</label>
			<label style="margin-left:0% ;"for="Caterer">
            <input Style="width:8%" type="radio" id="Caterer" name="Role" value="Caterer">
            Caterer</label>
			</div>
			<div class='buton'>
			<input style="color:white;background-color:rgb(89,198,247); font-size: 16px; border-color: rgb(89,198,247);" type="submit"  value="Login" >
			</div>
			<br>
			<input type="button" style="color:white;background-color: rgb(89,198,247); width:400px ; font-size: 17px; border-color: rgb(89,198,247);" onclick="location.href='/changePass';" value="Change Login Credentials." />
			<br>
			<input type="button" style="color:white; background-color: rgb(89,198,247); width:400px ; font-size: 17px; border-color:rgb(89,198,247);" onclick="location.href='/searchMeals';" value="Search for MealID by School ID or Caterer ID." />
			<br>
			<input type="button" style="color:white; background-color: rgb(89,198,247); width:400px ; font-size: 17px; border-color: rgb(89,198,247));" onclick="location.href='/verifyMeals';" value="Verify mealDetails by MealID." />
			</form>
			</div>
			</div>
			
</body> 
</head>
</html 